
  
  .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #272728bd;
    box-shadow: 0 1px 3px rgba(40, 34, 34, 0.905), 0 1px 2px rgba(42, 39, 39, 0.899);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    height: 50px;
    width: 200px;
    border-radius: 7px;
    margin-top: 5px;
  }
  
  .card::before, .card::after {
    position: absolute;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: 0.25s linear;
    z-index: 1;
  }
  
  .card::before {
    content: "";
    left: 0;
    justify-content: flex-end;
    background-color: #ff004f;
  }
  
  .card::after {
    content: "";
    right: 0;
    justify-content: flex-start;
    background-color: #ff004f;
  }
  
  .card:hover {
    box-shadow: 0 14px 28px rgba(30, 28, 28, 0.941), 0 10px 10px rgba(58, 48, 48, 0.852);
  }
  
  .card:hover span {
    opacity: 0;
    z-index: -3;
  }
  
  .card:hover::before {
    opacity: 0.5;
    transform: translateY(-100%);
  }
  
  .card:hover::after {
    opacity: 0.5;
    transform: translateY(100%);
  }
  
  .card span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: rgb(238, 242, 243);
    font-family: 'Fira Mono', monospace;
    font-size: 22px;
    font-weight: 400;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
  }
  
  .card .social-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: rgb(31, 168, 223);
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    z-index: 0;
  }
  
  .card .social-link svg {
    text-shadow: 1px 1px rgba(94, 252, 2, 0.7);
    transform: scale(1);
  }
  
  .card .social-link:hover {
    background-color: rgba(94, 6, 237, 0.402);
    animation: bounce_613 0.4s linear;
  }
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }